<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Smoke Suite</td><td>LeadConversion.userLeadConversion(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversion@11c20519]<br/>LeadConversionValidation.userLeadConversionValidation(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversionValidation@32a068d1]<br/></td></tr>
<tr><td>Smoke Suite - Std User</td><td>LeadTabVerification.leadTabVerification(java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadTabVerification@10b48321]<br/></td></tr>
</table>
