<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Smoke Suite</td><td>LeadConversionValidation.userLeadConversionValidation(java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversionValidation@3a883ce7]<br/></td></tr>
</table>
