<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression Suite</td><td>VerifyApplicationFormRejectedStatus.verifyApplicationFormRejected(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d3fcdb0]<br/>VerifyApplicationFormInProgressStatus.verifyApplicationFormInProgress(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormInProgressStatus@16267862]<br/>ApplicationForm.applicationFormCreation(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationForm@12028586]<br/></td></tr>
</table>
