<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Regression Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9286a3">  <td>18/03/13 17:52:00</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d3fcdb0]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1027007693</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>18/03/13 17:52:01</td>   <td>933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationForm@12028586]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1027007693</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>18/03/13 17:52:07</td>   <td>7093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationForm.applicationFormCreation(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationForm@12028586]">applicationFormCreation</td> 
  <td>main@1027007693</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>18/03/13 17:52:40</td>   <td>40490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationForm@12028586]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1027007693</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>18/03/13 17:52:41</td>   <td>41583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormInProgressStatus@16267862]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1027007693</td>   <td></td> </tr>
<tr bgcolor="b48381">  <td>18/03/13 17:52:47</td>   <td>47117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyApplicationFormInProgressStatus.verifyApplicationFormInProgress(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormInProgressStatus@16267862]">verifyApplicationFormInProgress</td> 
  <td>main@1027007693</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>18/03/13 17:53:38</td>   <td>98141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormInProgressStatus@16267862]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1027007693</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>18/03/13 17:53:39</td>   <td>99251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d3fcdb0]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1027007693</td>   <td></td> </tr>
<tr bgcolor="72da94">  <td>18/03/13 17:53:45</td>   <td>104700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyApplicationFormRejectedStatus.verifyApplicationFormRejected(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d3fcdb0]">verifyApplicationFormRejected</td> 
  <td>main@1027007693</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>18/03/13 17:54:36</td>   <td>156465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d3fcdb0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1027007693</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>18/03/13 17:54:38</td>   <td>157884</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d3fcdb0]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1027007693</td>   <td></td> </tr>
</table>
