<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression Suite</td><td>VerifyApplicationFormApprovalStatus.verifyApplicationFormApproval(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormApprovalStatus@37574691]<br/>VerifyApplicationFormInProgressStatus.verifyApplicationFormInProgress(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormInProgressStatus@12405818]<br/>ApplicationForm.applicationFormCreation(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationForm@45afc369]<br/>ValidateEveningCollegeMessage.validateEveningCollegeMessage(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ValidateEveningCollegeMessage@6166e06f]<br/></td></tr>
</table>
