<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="727982">  <td>18/04/04 10:34:52</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.demo.regressiontestcases.ValidateEveningCollegeMessage@6166e06f]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@195615004</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>18/04/04 10:34:53</td>   <td>1192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationForm@45afc369]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@195615004</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/04/04 10:34:59</td>   <td>7560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationForm.applicationFormCreation(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationForm@45afc369]">applicationFormCreation</td> 
  <td>main@195615004</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>18/04/04 10:35:28</td>   <td>36218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationForm@45afc369]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@195615004</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>18/04/04 10:35:30</td>   <td>37945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormApprovalStatus@37574691]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@195615004</td>   <td></td> </tr>
<tr bgcolor="79c292">  <td>18/04/04 10:35:36</td>   <td>43928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyApplicationFormApprovalStatus.verifyApplicationFormApproval(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormApprovalStatus@37574691]">verifyApplicationFormApproval</td> 
  <td>main@195615004</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>18/04/04 10:36:09</td>   <td>76884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormApprovalStatus@37574691]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@195615004</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>18/04/04 10:36:10</td>   <td>78451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormInProgressStatus@12405818]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@195615004</td>   <td></td> </tr>
<tr bgcolor="9fb566">  <td>18/04/04 10:36:16</td>   <td>83961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyApplicationFormInProgressStatus.verifyApplicationFormInProgress(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormInProgressStatus@12405818]">verifyApplicationFormInProgress</td> 
  <td>main@195615004</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>18/04/04 10:36:48</td>   <td>116814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormInProgressStatus@12405818]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@195615004</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>18/04/04 10:36:50</td>   <td>118117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ValidateEveningCollegeMessage@6166e06f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@195615004</td>   <td></td> </tr>
<tr bgcolor="8675e1">  <td>18/04/04 10:36:55</td>   <td>123434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateEveningCollegeMessage.validateEveningCollegeMessage(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ValidateEveningCollegeMessage@6166e06f]">validateEveningCollegeMessage</td> 
  <td>main@195615004</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>18/04/04 10:37:33</td>   <td>160897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ValidateEveningCollegeMessage@6166e06f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@195615004</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>18/04/04 10:37:34</td>   <td>161888</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.demo.regressiontestcases.ValidateEveningCollegeMessage@6166e06f]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@195615004</td>   <td></td> </tr>
</table>
