<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Failed suite [Smoke Suite]]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3f17c">  <td>18/03/13 10:07:22</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversionValidation@3a883ce7]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366004251</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>18/03/13 10:07:22</td>   <td>660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversionValidation@3a883ce7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@366004251</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>18/03/13 10:07:30</td>   <td>7879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeadConversionValidation.userLeadConversionValidation(java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversionValidation@3a883ce7]">userLeadConversionValidation</td> 
  <td>main@366004251</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>18/03/13 10:08:16</td>   <td>54027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversionValidation@3a883ce7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@366004251</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>18/03/13 10:08:17</td>   <td>55423</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversionValidation@3a883ce7]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366004251</td>   <td></td> </tr>
</table>
