<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Smoke Suite</td><td>AccountCreation.accountCreation(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.AccountCreation@12028586]<br/>ContactCreation.contactCreation(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.ContactCreation@80ec1f8]<br/>LeadConversion.userLeadConversion(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversion@16267862]<br/>LeadConversionValidation.userLeadConversionValidation(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversionValidation@3d3fcdb0]<br/></td></tr>
<tr><td>Smoke Suite - Std User</td><td>LeadTabVerification.leadTabVerification(java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadTabVerification@28c4711c]<br/></td></tr>
</table>
