<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc939b">  <td>18/03/23 12:22:29</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadTabVerification@28c4711c]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@252651381</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>18/03/23 12:22:30</td>   <td>1218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversion@16267862]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@5660721</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>18/03/23 12:22:30</td>   <td>1218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadTabVerification@28c4711c]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-5@465439208</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>18/03/23 12:22:30</td>   <td>1219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.AccountCreation@12028586]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@234553364</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>18/03/23 12:22:30</td>   <td>1219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.ContactCreation@80ec1f8]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1298027093</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>18/03/23 12:22:30</td>   <td>1228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversionValidation@3d3fcdb0]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-4@2137661881</td>   <td></td> </tr>
<tr bgcolor="6c8d86">  <td>18/03/23 12:22:38</td>   <td>9661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeadConversionValidation.userLeadConversionValidation(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversionValidation@3d3fcdb0]">userLeadConversionValidation</td> 
  <td>TestNG-tests-4@2137661881</td>   <td></td> </tr>
<tr bgcolor="b67094">  <td>18/03/23 12:22:39</td>   <td>10459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeadConversion.userLeadConversion(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversion@16267862]">userLeadConversion</td> 
  <td>TestNG-tests-3@5660721</td>   <td></td> </tr>
<tr bgcolor="96a8a1">  <td>18/03/23 12:22:39</td>   <td>10586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeadTabVerification.leadTabVerification(java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadTabVerification@28c4711c]">leadTabVerification</td> 
  <td>TestNG-tests-5@465439208</td>   <td></td> </tr>
<tr bgcolor="b3f17c">  <td>18/03/23 12:22:50</td>   <td>21484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountCreation.accountCreation(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.AccountCreation@12028586]">accountCreation</td> 
  <td>TestNG-tests-1@234553364</td>   <td></td> </tr>
<tr bgcolor="606c6b">  <td>18/03/23 12:22:55</td>   <td>26201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactCreation.contactCreation(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.ContactCreation@80ec1f8]">contactCreation</td> 
  <td>TestNG-tests-2@1298027093</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>18/03/23 12:22:58</td>   <td>29577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadTabVerification@28c4711c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-5@465439208</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>18/03/23 12:23:09</td>   <td>40429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.smoketestcases.AccountCreation@12028586]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@234553364</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>18/03/23 12:23:10</td>   <td>40990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.smoketestcases.ContactCreation@80ec1f8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1298027093</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>18/03/23 12:23:25</td>   <td>56403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversionValidation@3d3fcdb0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-4@2137661881</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>18/03/23 12:23:27</td>   <td>58348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadConversion@16267862]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@5660721</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>18/03/23 12:23:29</td>   <td>60287</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.demo.smoketestcases.LeadTabVerification@28c4711c]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@252651381</td>   <td></td> </tr>
</table>
