<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression Suite</td><td>ApplicationForm_DB.applicationFormCreation(java.lang.String)[pri:0, instance:com.mst.automation.demo.testcases.ApplicationForm_DB@67784306]<br/></td></tr>
</table>
