<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bcb197">  <td>18/04/09 18:05:09</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.demo.testcases.ApplicationForm_DB@67784306]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/04/09 18:05:09</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.testcases.ApplicationForm_DB@67784306]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>18/04/09 18:05:14</td>   <td>4302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationForm_DB.applicationFormCreation(java.lang.String)[pri:0, instance:com.mst.automation.demo.testcases.ApplicationForm_DB@67784306]">applicationFormCreation</td> 
  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/04/09 18:05:47</td>   <td>37439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.testcases.ApplicationForm_DB@67784306]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/04/09 18:05:47</td>   <td>37912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.testcases.ApplicationForm_DB@67784306]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>18/04/09 18:05:50</td>   <td>41197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationForm_DB.applicationFormCreation(java.lang.String)[pri:0, instance:com.mst.automation.demo.testcases.ApplicationForm_DB@67784306]">applicationFormCreation</td> 
  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/04/09 18:05:50</td>   <td>41221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.testcases.ApplicationForm_DB@67784306]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/04/09 18:05:51</td>   <td>41593</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.demo.testcases.ApplicationForm_DB@67784306]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1924582348</td>   <td></td> </tr>
</table>
