<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Smoke Suite</td><td>AccountCreation.accountCreation(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.AccountCreation@5cdd8682]<br/>ContactCreation.contactCreation(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.smoketestcases.ContactCreation@1372ed45]<br/></td></tr>
</table>
